
nav {
  padding: 10px 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Flex utility class */
.flex-div {
  display: flex;
  align-items: center;
}

/* Left section */
.nav-left {
  gap: 20px;
}
.nav-left .menu_icon {
  width: 22px;
  margin-right: 5px;
  cursor: pointer;
}
.nav-left .logo {
  width: 120px; 
  cursor: pointer;
}


.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  width: 400px;
  background: #f9f9f9;
}
.nav-middle input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
}
.nav-middle img {
  width: 16px;
  cursor: pointer;
}

.nav-right {
  gap: 20px;
}
.nav-right img {
  width: 30px;
border-radius: 50%;
}

.nav-right .user_icon {
  border-radius: 50%;
  width: 30px;
}
@media(max-width:900px)
{
    .menu_icon{
        display :none;
    
    }
    .nav-right .user_icon{
        display: block;
        width:px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
}